extends emailBase 

block content
    p Hi #{firstName},
        p Your password reset token is here.
        p If you did not request for a password reset, please ignore this mail.
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset URL
        p If you need any help with your account settings, please don't hesitate to contact us!
        p - Kishor Balgi